body{
    background-color: aqua;
}

.square1{
        background-color: white;
        height:300px;
margin: 20px;
        width:200px;
        display:inline-block;
        position:relative;

        
}

.out{
    text-align:center;
}