#header
{background-color: #eee;
font-size: 50px;
font-family: "Times New Roman", Times, serif;
margin: 20px;
text-align: center;
height: 70px;
}


#page
{


background-size: 100% 100%;
}

.bgimage
{
    background-image: url("bg.png");
height : 500px;
}

.profileimage
{
    background-image: url("profile.jpg");
height : 100px;
width:100px;

background-size: 100% 100%;
margin-left:auto;
margin-right:auto;
}

.but{
    margin-left:auto;
    margin-right:auto;
    padding:120px;
    padding-left:600px;
    background-color: transparent;
}

.text{
    padding:40px;
    padding-left: 500px;
}